* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Head y Background */
  --bg: #1f2628;
  --accent: #0bb5ff;
  --header-bg: #0d1121;
  --logo-txt: #e2f9ff;
  --logo-shdw: #5e6272;
  /* Cards */
  --card-bg: #2c3539;
  --card-header: #1f2128;
  --card-tit: #e2f9ff;
  --card-txt: #f0fcff;
  /* Botones */
  --btn-txt: #fff3e6;
  --btn-txt-dark: #2c3539;
  --btn-bg: #ff8700;
}
.card {
  background-color: var(--card-bg);
  border-radius: 20px;
  font-weight: 500;
  height: 100%;
  border: 0;
  color: var(--card-tit);
}
.card-header {
  background-color: var(--card-header);
}
.card-text {
  color: var(--card-txt);
}
.card-inicio {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.card3 {
  margin: 0 10px;
}
.ancla::before {
  display: block;
  content: "";
  margin-top: -230px;
  height: 222px;
  visibility: hidden;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  width: 100%;
}
main {
  margin-top: 230px;
}
header,
section,
footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.headd {
  position: fixed;
  background-color: var(--header-bg);
  background-image: url("/img/banner-min.svg");
  background-size: cover;
  width: 100%;
  height: auto;
  z-index: 10;
}
header {
  top: 0;
  right: 0;
  left: 0;
  height: 220px;
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.5%;
  border-radius: 20px;
}
#logo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  border-radius: 10px;
  justify-content: center;
}
h1 {
  display: flex;
  top: 0px;
  font-family: "Courier New", Courier, monospace;
  font-size: 80px;
  font-weight: bold;
  color: var(--logo-txt);
  margin-left: 0%;
  border-radius: 10px;
  box-shadow: 3px 6px 30px var(--logo-shdw);
  text-shadow: 3px 6px 30px var(--logo-shdw);
  padding: 10px;
  padding-left: 15px;
}
#botones {
  display: flex;
  width: auto;
  height: 50px;
  margin-top: 10px;
  align-items: center;
  margin-left: 1%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}
ul a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  padding: 10px;
}
.ul-a {
  display: block;
  color: azure;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  padding: 10px;
}
ul li {
  display: flex;
  position: relative;
  float: left;
  margin: 5px;
  margin-bottom: 5px;
  padding: 0;
  background-color: #1f2128;
  border-radius: 5px;
  box-shadow: 2px 2px 0px #ffffff99;
  justify-content: center;
}
ul li:hover {
  opacity: 0.7;
}
#btn_redes {
  display: flex;
  position: absolute;
  top: 130px;
  right: 0;
  width: auto;
  height: 50px;
  margin-top: 10px;
  border-radius: 10px;
  justify-content: end;
}
a .redFace {
  width: 50px;
  height: 50px;
  background-color: var(--logo-shdw);
  border-radius: 10px;
  margin-right: 10px;
}
a .redInst {
  width: 50px;
  height: 50px;
  background-color: var(--logo-shdw);
  border-radius: 10px;
  margin-right: 10px;
}
p {
  display: block;
  margin: 0;
}
#about1 {
  display: flex;
  background-color: #1f2628;
  border-radius: 20px;
  margin-bottom: 10px;
}

.arti1_1 {
  display: flex;
  position: relative;
  width: 98%;
  border-radius: 10px;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.texSec1 {
  color: aliceblue;
  text-align: center;
  height: 100%;
  margin: auto;
}
.tituloSec1 {
  font-size: 28px;
  background-color: #1f2628;
  border-radius: 10px;
  text-shadow: 1px 2px 5px #268bff;
  padding: 1%;
  margin: 0px 5px;
  margin-bottom: 15px;
  color: antiquewhite;
  box-shadow: 3px 3px 1px #ffffff99;
}
.parrafo1 {
  font-size: 18px;
  background-color: #2d2f39;
  border-radius: 10px;
  padding: 3%;
  box-shadow: 2px 2px 0px #ffffff99;
  margin: 10px 5px;
  color: antiquewhite;
}
.imgInicio {
  width: 80%;
}

#seccion2 {
  display: flex;
  justify-content: space-between;
  background-color: #1f2628;
  border-radius: 20px;
  margin-bottom: 10px;
}
.arti2_1 {
  display: flex;
  flex-direction: column;
  width: 48.5%;
  margin-top: 10px;
  margin-left: 1%;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 20px;
}

#cuestionario {
  display: none;
  color: antiquewhite;
  border: 2px solid black;
  border-radius: 10px;
  width: 90%;
  padding: 5px;
  margin-bottom: 5px;
  width: auto;
}
.cuestionario p {
  color: antiquewhite;
  font-weight: bold;
  background-color: #000000;
  border-radius: 5px;
  padding: 5px 10px;
}
.btn1 {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px;
  color: var(--btn-txt);
  color: #e2f9ff;
  border-radius: 10px;
  box-shadow: 0px 0px 3px #ffffff99;
  width: 200px;
  margin-top: 10px;
  background-color: var(--btn-bg);
}
.btn1:hover {
  opacity: 0.8;
}

.arti2_2 {
  width: 48.5%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 1%;
  float: right;
  border-radius: 20px;
}

.arti_sec2 {
  color: antiquewhite;
  font-size: 1rem;
  padding: 2px;
}

#textoOculto1 {
  display: none;
}
#textoOculto1.abrir {
  display: block;
}
#mostrarMasMenos1 {
  display: block;
  color: aliceblue;
  width: auto;
  font-weight: bold;
  padding: 5px 5px;
}
#mostrarMasMenos1:hover {
  width: auto;
  font-weight: bold;
  cursor: pointer;
  color: #268bff;
}

#textoOculto2 {
  display: none;
}
#textoOculto2.abrir {
  display: block;
}
#mostrarMasMenos2 {
  display: block;
  color: aliceblue;
  width: auto;
  font-weight: bold;
  padding: 5px 5px;
}
#mostrarMasMenos2:hover {
  width: auto;
  font-weight: bold;
  cursor: pointer;
  color: #268bff;
}

#seccion3 {
  display: flex;
  background-color: #1f2628;
  border-radius: 20px;
  padding: 0;
  margin-bottom: 10px;
}
.rowArti3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.arti3_1 {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  justify-content: center;
  padding: 0;
}

.boton_Azul {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  color: var(--btn-txt);
  background-color: var(--btn-bg);

  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 5px #ffffff99;
  width: 200px;
  margin-top: 10px;
}
.boton_Azul:hover {
  opacity: 0.8;
  background-color: var(--btn-bg);
  color: var(--btn-txt);
}

.arti3_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 0;
}
.accordion-item {
  background: hsl(210, 91%, 34%);
  border: 1px hsl(210, 71%, 0%) solid;
  color: aliceblue;
}
.accordion-button {
  background: hsl(211, 70%, 30%);
  color: aliceblue;
}

.card-header:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.accordion-button:not(.collapsed) {
  background: hsl(215, 70%, 30%);
  color: #ffffff;
  border-radius: 5px;
}

.arti3_3 {
  border-radius: 20px;
  padding: 0;
}

#seccion4 {
  display: flex;
  border-radius: 20px;
  background-color: #1f2628;
  padding: 0;
  justify-content: space-evenly;
  margin-bottom: 2px;
}
.arti4_1 {
  border-radius: 20px;
  margin: 10px 0;
  width: 48.5%;
}
.form_encuesta {
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}
.cont_form {
  padding: 10px;
}
.imput-form-sorteo {
  border: 1px solid hsl(210, 91%, 34%);
  border-radius: 10px;
  font-size: 1rem;
  background-color: #000000;
  color: aliceblue;
}
.imput-form-sorteo::placeholder {
  color: #bbbbbb;
}
.imput-form-sorteo:focus {
  background-color: #333333;
  color: aliceblue;
}

.boton-sorteo {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
  padding: 2%;
  color: var(--btn-txt);
  background-color: var(--btn-bg);
  border-radius: 10px;
  box-shadow: 0px 0px 3px #ffffff99;
  cursor: pointer;
  width: 200px;
}
.boton-sorteo:hover {
  opacity: 0.8;
}
.arti4_2 {
  border-radius: 20px;
  margin: 10px 0;
  width: 48.5%;
}
.carrusel {
  border-radius: 20px;
}

.row {
  height: auto;
}

.foot {
  background-color: #1f2128;
  width: 100%;
}
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #1f2128;
  justify-content: space-between;
  border-radius: 20px;
  align-content: space-around;
}
#datos {
  display: flex;
  flex-direction: column;
  width: 48.5%;
  margin-top: 15px;
  background-color: #1f2128;
  margin-left: 1%;
  border-radius: 10px;
  justify-content: flex-start;
}
h3 {
  margin: 0;
  padding: 10px;
  color: aliceblue;
  text-align: center;
  font-size: 1.5rem;
}
.h3-datos {
  font-size: 1.25rem;
  margin: 0;
  margin-top: 8px;
  padding: 0;
}
h4 {
  margin: 0;
  padding: 10px;
  color: aliceblue;
  text-align: center;
  font-size: 16px;
}

.mapa {
  display: flex;
  position: relative;
  width: 100%;
  height: 82.5%;
  border-radius: 10px;
  padding: 5px;
  opacity: 0.8;
}
#form {
  display: flex;
  width: 48.5%;
  margin-top: 10px;
  float: right;
  margin-right: 1%;
  border-radius: 10px;
  justify-content: flex-end;
  background-color: #1f2128;
}
#formMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto;
  border-radius: 10px;
  align-items: center;
  margin: 10px;
}
.input-padron {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
  font-size: 1rem;
  color: aliceblue;
}
input,
textarea {
  width: 100%;
  box-shadow: 0px 0px 3px #ffffff99;
  border-width: 2px;
  background: none;
  border-style: solid;
  margin: 0;
  padding: 0;
}
.boton {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  width: 200px;
  padding: 1%;
  color: var(--btn-txt);
  background-color: var(--btn-bg);
  border-radius: 10px;
  box-shadow: 0px 0px 3px #ffffff99;
}
.boton:hover {
  opacity: 0.8;
}
.desarrollado {
  margin: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  background-color: #1f2128;
}
